__pycache__/
bin/
lib/
lib64
logs_txt_files/
pyvenv.cfg
exercise.csv
exercise_tracker/__pycache__/
exercise_analysis/__pycache__/
web_app/__pycache__/
web_app/routes/__pycache__/
data/
share/
etc/
.ipynb_checkpoints/
analysis.ipynb
flask_session/
node_modules/
web_app/static/js/
