<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <title>Exercise Tracker</title>
    </head>
  <body>
      <div class="container">
        <h1>Exercise Tracker</h1>
          <nav>
              <a href="{{ url_for('main.index') }}">Tracker</a>
              <a href="{{ url_for('main.analysis') }}">Analysis</a>
          </nav>

        <form id="plotForm" class="mb-3">
            <div class="form-group">
              <label for="exerciseName">Exercise Name:</label>
              <input type="text" id="exerciseName" name="exerciseName" class="form-control" required>
              <button type="submit" class="btn btn-primary mt-2">Plot</button>
            </div>
        </form>

        <canvas id="myChart" width="400" height="400"></canvas>

          <h2>Movements</h2>
          <ul class="list-group">
              {% for movement in movements %}
                <div>
                    <button id="plotbutton_{{ movement.name }}" class="plot-button" data-exercise="{{ movement.name }}">
                        Plot {{ movement.name }}
                    </button>
                </div>
              {% endfor %}

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
      </div>
  </body>
</html>
