<!doctype html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Exercise Tracker</title>
  </head>
  <body>
    <div class="container">
      <h1>Exercise Analysis</h1>
      <nav>
          <a href="{{ url_for('main.index') }}">Tracker</a>
          <a href="{{ url_for('main.analysis') }}">Analysis</a>
      </nav>

      <h2>Movements</h2>
      <ul>
          {% for movement in movements %}
              <li>
              <strong>{{ movement.name }}</strong>
              <form action="/plot_movement_load/{{ movement.name }}" method="post" style="display:inline;">
                  <button type="submit">Plot Movement</button>
              </form>
              </li>
          {% endfor %}
    </div>
  </body>
</html>
