<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Exercise Tracker</title>
  </head>
  <body>
    <div class="container">
      <h1>Exercise Tracker</h1>
      <nav>
          <a href="{{ url_for('main.index') }}">Tracker</a>
          <a href="{{ url_for('main.analysis') }}">Analysis</a>
      </nav>

      <form action="add_workout" method="post">
          <div class="form-group">
            <label for="date">Enter date:</label>
            <input type="date" id="date" name="date" required>
            <button type="submit" class="btn btn-primary">Add New Workout</button>
          </div>
      </form>

      <h2>Workouts</h2>
      <ul>
        {% for workout in workouts %}
          <li>
            <strong>{{ workout.date }}</strong>
            <form action="/add_exercise/{{ workout.date }}" method="post" style="display:inline;">
                <input type="text" name="name" placeholder="Exercise name" required>
                <input type="hidden" name="date"  value="{{ workout.date }}">
                <button type="submit">Add Exercise</button>
            </form>
            <ul>
            {% for exercise in workout.exercises %}
              <li>
                <strong>{{ exercise.name }}</strong>
                <form action="/add_set/{{ workout.date }}/{{ exercise.name }}" method="post" style="display:inline;">
                  <input type="number" name="reps" placeholder="Reps" required>
                  <input type="number" name="load" placeholder="Load (0 if bw)" step=0.5 required>
                  <button type="submit">Add Set</button>
                </form>
                <ul>
                  {% for reps, load in exercise.sets %}
                    <li>{{ reps }} reps @ {{ load }}</li>
                  {% endfor %}
                </ul>
              </li>
            {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
