[Unit]
Description=RepDojo FastAPI Service
After=network.target
PartOf=repdojo.target

[Service]
User=rory
Group=rory
WorkingDirectory=/home/rory/exercise_tracker/repdojo_api
Environment="PATH=/home/rory/exercise_tracker/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
ExecStart=/home/rory/exercise_tracker/bin/uvicorn app.main:app --host 0.0.0.0 --port 1025
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
